<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FOTO JPG.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Tomas Einschlag</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mi</h1>
            <p>Lorem ipsum dolor, 
            sit amet consectetur adipisicing elit.
             At reiciendis assumenda temporibus quis laborum, 
             sapiente voluptatibus possimus, repellat tempore, eveniet dicta.
             Quisquam, non. Tenetur, quae magni suscipit iusto inventore eligendi.</p>
        </span>
    </div>
</div>