<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgentinaProgramaLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/einschlag/"><img src="../../../assets/LinkedInLogo.png" alt=""></a>
                <a href="https://github.com/Teinschlag"><img src="../../../assets/GitHubLogo.png" alt=""></a>
                <a href="https://twitter.com/einschlag_"><img src="../../../assets/TwitterLogo.png" alt=""></a>
                <a href="https://www.facebook.com/einschlag/"><img src="../../../assets/FacebookLogo.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="isLogged">CERRAR SESION</button>

            </div>
    </div>
</div>