<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li><h1>Tareas Administrativas en Einschlag Construcciones S.A.</h1> - <h3>(years)</h3> </li>
            <p>Manejo de Microsoft Excel, Cuentas Bancarias y Caja. Cadetería. Manejo de Personal
            y relaciones con empresas asociadas. Compra de materiales y productos.</p>
      </ul>  
      <ul>
        <li><h1>Venta al Público en Lacoste</h1> - <h3>(years)</h3> </li>
            <p>Tareas como vendedor y puesto de subencargado en Lacoste. 
                Manejo de stock, grupos y asesoramiento en imagen. Manejo de caja, apertura y cierre del local. </p>
      </ul>  
      <ul>
        <li><h1>Productor en Radio Universidad de La Plata</h1> - <h3>(years)</h3> </li>
            <p>Producción y manejo de Redes Sociales en el Programa "Darás Que Hablar", programa perteneciente a la grilla de
                Radio Universidad dependiente de la Universidad Nacional de La Plata.
                Control de agenda y contacto con entrevistados. También salidas al aire como columnista y co-conductor.
            </p>
      </ul>  
      <ul>
        <li><h1>Producción en T.V. Universidad</h1> - <h3>(years)</h3> </li>
            <p>Producción y manejo de Redes Sociales del programa "Código Naranja" emitido en T.V. Universidad,
                canal perteneciente a la Universidad Nacional de La Plata. 
                Contacto con entrevistados y manejo de agenda. Fotógrafo y camarógrafo en producciones para el programa.
            </p>
      </ul>  
    </div>
</div>