<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li><h1>Licenciatura en Comunicación Social - Orientación Periodismo</h1> - <h3>(years)</h3> </li>
            <p>Egresado como Licenciado en Comunicación Social con Orientación en Periodismo en la
                Universidad Nacional de La Plata.
            </p>
      </ul>  
      <ul>
        <li><h1>Bachiller</h1> - <h3>(years)</h3> </li>
            <p>Bachiller egresado del Colegio Nacional "Rafael Hernández, perteneciente
                a la Universidad Nacional de La Plata. </p>
      </ul>  
    </div>
</div>